.conteiner__apresentacao{
    background-image: url("../assets/banner-salgados.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.conteiner__titulo-salgado{
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--dourado-quartenario);
    font-size: 5em;
    font-weight: 700;
    padding: 2em;
}

.catalogo__titulo{
    padding: 1em;
}